package-lock.json
react_native_modules/rnoh
react_native_modules/gesture_handler
oh_modules/
/config

# ---

/node_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-tidy
/build-profile.json5
